# Python cache
__pycache__/
*.py[cod]
*$py.class
update.sh

# Virtual environment
entorno/

# Python packaging
*.egg-info/
dist/
build/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
